.nav {
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Raleway';
    margin-top: 2%;
    border-bottom: 10px solid;
    font-size: 1.3em;
    align-items: center;
    background-color: #ffffffb2;
}

.welcome {
    text-align: center;
    margin-top: 2%;
    font-family: 'Raleway';
    font-size: 5em;
}

.disc {
    justify-content: center;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.3rem;
   
}

.hello {
    color:red;
    /* this works background: url('./imgs/food.png'); */
    background-repeat: no-repeat;
    font-family: 'Raleway';
}

.fancyPic {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family :'Raleway';
    src: url('../src/fonts/Raleway.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #9b0707;
}

.selectedNav {
    color: #9b0707;
    font-size: 1.5em;
}

.menuLayout {
    display:grid;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-columns: 45vw 45vw;
    justify-content: center;
    gap: 5%;
}

li {
    cursor: pointer;
}